{% extends 'base.html.twig' %}

{% block title %}Commande{% endblock %}

{% block body %}
    <h1>Commande</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ commande.id }}</td>
            </tr>
            <tr>
                <th>NomClient</th>
                <td>{{ commande.nomClient }}</td>
            </tr>
            <tr>
                <th>TotalPrix</th>
                <td>{{ commande.totalPrix }}</td>
            </tr>
        </tbody>
    </table>

    <h3>Matériels Commandés:</h3>
    <ul>
        {% for commandeMateriel in commande.commandeMateriels %}
            <li>
                {{ commandeMateriel.materiel.nom }} - Quantité: {{ commandeMateriel.quantite }} - Prix Unitaire: {{ commandeMateriel.materiel.prixLocation }} EUR
            </li>
        {% else %}
            <li>Aucun matériel dans cette commande.</li>
        {% endfor %}
    </ul>

    <a href="{{ path('app_commande_index') }}">back to list</a>

    <a href="{{ path('app_commande_edit', {'id': commande.id}) }}">edit</a>

    {{ include('commande/_delete_form.html.twig') }}
{% endblock %}
